<button mat-raised-button (click)="isEditable = !isEditable">
  {{!isEditable ? 'Enable edit mode' : 'Disable edit mode'}}
</button>

<mat-horizontal-stepper linear #stepper>
  <!-- #docregion editable -->
  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
    <!-- #enddocregion editable -->
    <form [formGroup]="firstFormGroup" (ngSubmit)="onSubmit(firstFormGroup.value)">
      <!-- #docregion step-label -->
      <ng-template matStepLabel>Sélection du nom</ng-template>
      <!-- #enddocregion step-label -->
      <mat-form-field appearance="fill">
        <mat-label>Sélection nom</mat-label>
        <mat-select id="nom" type="text" formControlName="nom" required>
          <mat-option *ngFor="let invite of invites" [value]="invite.id">
            {{invite.nom}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-flat-button color="primary" matStepperNext [disabled]="!firstFormGroup.valid">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Indiquer votre présence</ng-template>

        <!-- Disponibilité -->
        <div>
          <h1>Disponibilité: </h1>
          <p>Serez-vous disponible le 26/08/2023 pour célébrer notre mariage ?</p>
          <mat-form-field appearance="fill">
            <mat-label>Disponibilité</mat-label>
            <select id="disponibilite" formControlName="disponibilite" matNativeControl required>
              <option value="1">Oui</option>
              <option value="0">Non</option>
            </select>
          </mat-form-field>
          <!--Si non présent au repas-->
          <p *ngIf="secondFormGroup.value.disponibilite == '0'"> C'est dommage, on pensera à vous pendant la soirée :=) </p>
          <p *ngIf="secondFormGroup.value.disponibilite == '1'"> Cool, on passe à l'étape suivante pour l'apéro, manger ou danser ?! :) </p>
        </div>

        <div *ngIf="secondFormGroup.value.disponibilite == '1'">
          <h1>Apéro: </h1>
          <p>Direction le chateau de Munas pour célébrer notre mariage</p>
          <mat-form-field appearance="fill">
            <mat-label>Apéro</mat-label>
            <select id="apero" formControlName="apero" matNativeControl required>
              <option value="1">Oui</option>
              <option value="0">Non</option>
            </select>
          </mat-form-field>
        </div>

      <!--Ajouter si vous êtes invités au repas-->
      <div *ngIf="secondFormGroup.value.disponibilite == '1'">
        <h1>Repas: </h1>
        <mat-form-field appearance="fill">
          <mat-label>Repas</mat-label>
          <select id="repas" formControlName="repas" matNativeControl required>
            <option value="1">Oui</option>
            <option value="0">Non</option>
          </select>
        </mat-form-field>
        <mat-form-field *ngIf="secondFormGroup.value.repas == '1'" appearance="fill">
          <mat-label>Végétarien</mat-label>
          <select id="vegetarien" formControlName="vegetarien" matNativeControl required>
            <option value="1">Oui</option>
            <option value="0">Non</option>
          </select>
        </mat-form-field>
        <!--Si non présent au repas-->
        <p *ngIf="secondFormGroup.value.repas == 0 && secondFormGroup.value.repas != ''"> Bonjour </p>
        <p *ngIf="secondFormGroup.value.repas == 1"> Bonjour </p>
      </div>

      <div *ngIf="secondFormGroup.value.disponibilite == '1'">
        <h1>Nuit dansante: </h1>
        <mat-form-field appearance="fill">
          <mat-label>Nuit</mat-label>
          <select id="soiree" formControlName="soiree" matNativeControl required>
            <option value="1">Oui</option>
            <option value="0">Non</option>
          </select>
        </mat-form-field>
      </div>

      <div *ngIf="secondFormGroup.value.soiree == '1'">
        <h1>Dodo: </h1>
        <mat-form-field appearance="fill">
          <mat-label>Dodo</mat-label>
          <select id="dodo" formControlName="dodo" matNativeControl required>
            <option value="0">Chambre limité à 30 personnes</option>
            <option value="1">Matelas gonflable à l'intérieur</option>
            <option value="2">Tente ou Van aménagé</option>
            <option value="3">Chez moi</option>
            <option value="4">Autres</option>
          </select>
        </mat-form-field>
      </div>

      <div *ngIf="secondFormGroup.value.disponibilite == '1'">
        <h1>Dimanche: </h1>
        <mat-form-field appearance="fill">
          <mat-label>Dimanche</mat-label>
          <select id="dimanche" formControlName="dimanche" matNativeControl required>
            <option value="1">Oui</option>
            <option value="0">Non</option>
          </select>
        </mat-form-field>
      </div>
      <div>
        <button mat-flat-button color="warn" matStepperPrevious>Back</button>
        <button mat-flat-button color="primary" matStepperNext [disabled]="!secondFormGroup.valid">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Formulaire validé !</ng-template>
    <p>Le formulaire est validé. Merci d'avoir donné votre réponse. RDV le 26/08/2023</p>
  </mat-step>
</mat-horizontal-stepper>
