<!--
<button mat-raised-button (click)="isEditable = !isEditable">
  {{!isEditable ? 'Enable edit mode' : 'Disable edit mode'}}
</button>
-->
<mat-horizontal-stepper linear #stepper>
  <!-- #docregion editable -->
  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
    <!-- #enddocregion editable -->
    <form [formGroup]="firstFormGroup" (ngSubmit)="onSubmit(firstFormGroup.value)">
      <!-- #docregion step-label -->
      <ng-template matStepLabel>Sélection du nom</ng-template>
      <!-- #enddocregion step-label -->
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Sélection nom</mat-label>
        <input type="text" matInput [formControl]="nom" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.nom}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div>
        <button mat-flat-button color="primary" matStepperNext [disabled]="!firstFormGroup.valid">Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
    <form [formGroup]="secondFormGroup" (ngSubmit)="onSubmitTwo()">
      <ng-template matStepLabel>Indiquer votre présence</ng-template>
       <!-- <div *ngIf="famille !== 0 "> -->
        <div>
          <h1>Tout d'abord, pour éviter de remplir le formulaire pour toute la famille :  </h1>
          <mat-radio-group class="example-radio-group" id="famille" formControlName="famille" matNativeControl [required]="famille !== 0">
            <mat-radio-button (change)="handleChange($event)" class="example-radio-button" value="1" [disabled]="famille == 0"><span class="wrap-mat-radio-label">J'applique mon choix à mon conjoint (et / ou) à toute la famille</span></mat-radio-button>
            <mat-radio-button (change)="handleChange($event)" class="example-radio-button" value="2" [disabled]="famille == 0"><span class="wrap-mat-radio-label">J'applique mon choix à mon conjoint mais je viens sans les gosses (pour ceux qui en ont)</span></mat-radio-button>
            <mat-radio-button (change)="handleChange($event)" class="example-radio-button" value="3" [checked]="famille == 0" ><span class="wrap-mat-radio-label">Chacun se démerde</span></mat-radio-button>
          </mat-radio-group>
        </div>

        <div *ngIf="radioFamilleDiv">
          La liste des personnes concernées par ce formulaire est :
          <div *ngFor="let item of invitesFamille | slice:half">
            <p><b>{{ item.nom }}</b></p>
          </div>
        </div>
      <!-- Disponibilité -->
        <div>
          <h1>Disponibilité: </h1>
          <p>Serez-vous disponible le 26/08/2023 pour célébrer notre mariage ?</p>
          <mat-form-field appearance="fill">
            <mat-label>Disponibilité</mat-label>
            <select id="disponibilite" formControlName="disponibilite" matNativeControl required>
              <option value="1">Oui</option>
              <option value="0">Non</option>
            </select>
          </mat-form-field>
          <!--Si non présent au repas-->
          <p *ngIf="secondFormGroup.value.disponibilite == '0'"> C'est dommage, on pensera à vous pendant la soirée :=) </p>
          <p *ngIf="secondFormGroup.value.disponibilite == '1'"> Cool, on passe à l'étape suivante pour l'apéro, manger ou danser ?! :) </p>
        </div>

        <div *ngIf="secondFormGroup.value.disponibilite == '1'">
          <h1>Apéro: </h1>
          <p>Direction le chateau de Munas pour célébrer notre mariage</p>
          <mat-form-field appearance="fill">
            <mat-label>Apéro</mat-label>
            <select id="apero" formControlName="apero" matNativeControl required>
              <option value="1">Oui</option>
              <option value="0">Non</option>
            </select>
          </mat-form-field>
        </div>

      <!--Ajouter si vous êtes invités au repas-->
      <div *ngIf="secondFormGroup.value.disponibilite == '1' && choixInvitation==1">
        <h1>Repas: </h1>
        <mat-form-field appearance="fill">
          <mat-label>Repas</mat-label>
          <select id="repas" formControlName="repas" matNativeControl required>
            <option value="1">Oui</option>
            <option value="0">Non</option>
          </select>
        </mat-form-field>
        <mat-form-field *ngIf="secondFormGroup.value.repas == '1'" appearance="fill">
          <mat-label>Végétarien</mat-label>
          <p>Souhaitez vous un menu végétarien ?</p>
          <select id="vegetarien" formControlName="vegetarien" matNativeControl required>
            <option value="1">Oui</option>
            <option value="0">Non</option>
          </select>
        </mat-form-field>
      </div>

      <div *ngIf="secondFormGroup.value.disponibilite == '1' && (choixInvitation==1 || choixInvitation==2)">
        <h1>Nuit dansante: </h1>
        <p>Pour prolonger le plaisir jusqu'au bout de la nuit :)</p>
        <mat-form-field appearance="fill">
          <mat-label>Nuit</mat-label>
          <select id="soiree" formControlName="soiree" matNativeControl required>
            <option value="1">Oui</option>
            <option value="0">Non</option>
          </select>
        </mat-form-field>
      </div>

      <div *ngIf="secondFormGroup.value.disponibilite == '1' && (choixInvitation==1 || choixInvitation==2)">
        <h1>Dodo: </h1>
        <p>
           Bien entendu, vous pouvez dormir sur place (et c'est même plus rassurant pour nous).
           Des chambres et matelas seront à disposition mais vous pouvez amener aussi amener votre duvet, matelas ou tente.
        </p>
        <mat-form-field appearance="fill">
          <mat-label>Dodo</mat-label>
          <select id="dodo" formControlName="dodo" matNativeControl required>
            <option value="0">Chambre limité à 30 personnes</option>
            <option value="1">Matelas gonflable à l'intérieur</option>
            <option value="2">Tente ou Van aménagé</option>
            <option value="3">Chez moi</option>
            <option value="4">Autres</option>
          </select>
        </mat-form-field>
      </div>

      <div *ngIf="secondFormGroup.value.disponibilite == '1' && (choixInvitation==1 || choixInvitation==2)">
        <h1>Dimanche: </h1>
        <p>
          Pour bien finir le week end, on passera un dimanche plus posé à base de piscine pétanque et autres loisirs :)
        </p>
        <mat-form-field appearance="fill">
          <mat-label>Dimanche</mat-label>
          <select id="dimanche" formControlName="dimanche" matNativeControl required>
            <option value="1">Oui</option>
            <option value="0">Non</option>
          </select>
        </mat-form-field>
      </div>
      <h1>Un commentaire (allergies, contraintes ...)</h1>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Commentaires</mat-label>
        <input id="commentaire" formControlName="commentaire" matNativeControl placeholder="Ex: Je suis allergique au kiwi" value="">
      </mat-form-field>
      <div>
        <button mat-flat-button color="warn" matStepperPrevious>Précédent</button>
        <button mat-flat-button color="primary" matStepperNext [disabled]="!secondFormGroup.valid">Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Formulaire validé !</ng-template>
    <p>Le formulaire est validé. Merci d'avoir donné votre réponse. RDV le 26/08/2023</p>
  </mat-step>
</mat-horizontal-stepper>
